---
layout: bootcamp
root: .
venue: University of Melbourne
address: <a href="http://maps.unimelb.edu.au/parkville/building/104#.Uw0fhPiLelM">Theatre 3, Alan Gilbert Building</a>
country: Australia
humandate: Sep 15, 18, 22 & 25, 2014
humantime: 1:30 pm - 5:00 pm
startdate: 2014-09-15
enddate: 2014-09-25
latlng: -37.7963,144.9614
registration: open
instructor: ["Damien Irving", "Clare Sloggett"]
contact: d.irving@student.unimelb.edu.au
---


<h2>Python Bootcamp</h2>

<p>
  Researchers spend much of their time wrestling with software, but most
  are self-taught programmers. As a result, they spend hours doing things that
  should take minutes, reinvent a lot of wheels, and still don't know if their
  results are reliable. To tackle this problem, an international volunteer organisation
  known as <a href="http://software-carpentry.org">Software Carpentry</a> has been
  running <a href="http://software-carpentry.org/bootcamps/">bootcamps</a> for a number 
  of years now, teaching basic lab skills for computing like program design, version 
  control, data management and task automation. With support from the
  <a href="https://its.unimelb.edu.au/research">ITS Research Services</a> department at The University of Melbourne,
  the <a href="http://resbaz.tumblr.com/about">Research Bazaar</a> project has
  been running and supporting Software Carpentry bootcamps around Australia since 2013.
  For this particular bootcamp we are teaming up with 
  <a href="http://www.florey.edu.au/students/florey-students-sofi-">SOFI</a> and 
  <a href="http://www.chemeng.unimelb.edu.au/industry/pace.html">PACE</a>, although there 
  are places available for researchers who aren't members of those student groups.    
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}} (instructors and helpers should indicate their 
  availability <a href="http://doodle.com/e846x7rrs4b2fqv2">here</a>)
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  This bootcamp is open to postgraduate students, post-docs and other researchers who have a basic  
  familiarity with programming concepts like loops, conditionals, and arrays, but need 
  help to translate this knowledge into practical tools to help them work more productively.
  While the bootcamp is being hosted at the University of Melbourne in conjunction with
  SOFI and PACE, people from other research institutions and disciplines are welcome. 
</p>

<p>
  <strong>Where:</strong>
  Theatre 3, <a href="http://maps.unimelb.edu.au/parkville/building/104#.Uw0fhPiLelM">Alan Gilbert Building</a>, 
  University of Melbourne. 
</p>

<p>
  <strong>Registration:</strong>
  All participants are required to register at the 
  <a href="http://python-bootcamp.eventbrite.com.au">Eventbrite page</a>.
  The registration process involves a 5-minute questionnaire about your previous programming experience,
  so that we can tailor the teaching materials to the knowledge of the audience.
</p>

<p>
  <strong>Requirements:</strong>
  Participants are asked to bring their laptop. They will be given access to the 
  <a href="https://its.unimelb.edu.au/research/our_services/cloud_computing/research_cloud">NeCTAR Research Cloud</a> 
  for the duration of the bootcamp (and beyond), so it's critical that this laptop is able
  to connect to either the UniWireless or Eduroam wifi networks. Since the NeCTAR Research Cloud has all the required 
  software installed, participants are not required to install any software on their own laptop prior to the bootcamp. 
  If you don't have a laptop, that's completely fine. We'll pair you up with someone who does.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>
<p>
  In order to accommodate as many people as possible, we are going to spread the
  content of the typical two-day bootcamp over four afternoon sessions. The following 
  is an outline of what will be taught. During the bootcamp, additional notes on the 
  teaching materials will be available at the bootcamp 
  <a href="https://etherpad.mozilla.org/2014-09-15-unimelb">Etherpad</a>.
</p>

<p>
  <strong>Session 1: The basics</strong><br />
  <em>Monday 15 September, 1:30-5:00pm</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session
  you'll learn the basics of the unix shell, which is the cornerstone of software
  carpentry.
  <br /><br />

  <strong>Sessions 2 & 3: Programming like a programmer</strong><br />
  <em>Thursday 18 September, 1:30-5:00pm</em><br />
  <em>Monday 22 September, 1:30-5:00pm</em><br />
  Have you ever wondered how professional programmers write code? In this session
  you'll learn the common tricks of the trade, via an introduction to the Python
  programming language. From defensive programming, error handling and debugging
  to unit testing and test-driven development, the skills learned in this session
  are transferrable to any language.
  <br /><br />

  <strong>Session 4: Version control</strong><br />
  <em>Thursday 25 September, 1:30-5:00pm</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep
  track of multiple versions of the same code? Would you like an easier way to backup
  your work? This session will teach you everything you need to know about git,
  a version control system that can solve all these problems and more.
  <br /><br />

</p>

<hr/>


<h2>Setup</h2>

<p>
  Prior to the bootcamp, University of Melbourne staff/students should ensure that their laptop can connect
  to UniWireless. Instructions on how to do this and where to get assistance can be found 
  <a href="https://its.unimelb.edu.au/help/networks-access/networks-internet/connect-wireless/unimelb">here</a>.
  Attendees from other Australian universities should find out (from the IT website of 
  their home institution) how to connect to the Eduroam wireless network.
</p>
<p>
  Since the bootcamp will be conducted on the NeCTAR Research Cloud, participants are not required to
  install any software prior to the bootcamp. For those people who'd like to install
  the software used in the bootcamp on their own machine for use after the bootcamp, we've included the 
  relevant installation instructions below (and we're happy to provide assistance with this during the bootcamp). 
</p>

{% include setup.html %}
